.is-typing {
    width: 85px;
    display: flex;
    gap: 10px;
}

.conversation-item:hover {
    background-color: #4e4e4e85;
}

.jump1,
.jump2,
.jump3 {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: gray;
}

.jump1 {
    animation: typing 1.5s linear infinite;
    animation-delay: 01.1s;
}

.jump2 {
    animation: typing 1.5s linear infinite;
    animation-delay: 01.2s;
}

.jump3 {
    animation: typing 1.5s linear infinite;
    animation-delay: 01.3s;
}

@keyframes typing {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(0px);
    }

    35% {
        transform: translateY(15px);
    }

    45% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-15px);
    }

    75% {
        background-color: white;
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}
